{% extends 'school/homebase.html' %}




{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Hello, Admin</h1>
  <p class="lead">Welcome to Online School Management System.</p>
  <hr class="my-4">
  <p>You can access various features after Login/SignUp.</p>
  <p class="lead">
    <button class="btn btn-primary btn-lg" onclick="window.location.href='adminsignup'">SignUp</button>
    <button class="btn btn-primary btn-lg" onclick="window.location.href='adminlogin'">Login</button>
  </p>
</div>

{% endblock content %}
